<!DOCTYPE html>
<html lang="en">
<head>
  <title>SEKT cock</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="{{ url_for('static', filename='./style.css') }}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Tilt+Neon&display=swap" rel="stylesheet">
</head>
<body>
<div class="container">

<form action="/text" method="post">
  <h1>SEND ME A TXT <3</h1>
  <input type="text" class="form-control" id="mgs" name="mgs" maxlength="256" />
  <br>
  <button type="submit" class="btn btn-warning btn-block">Submit</button>
</form>
</div>

</body>
</html>
